<section class="container" *ngIf="Product">
    <div class="row">
        <div class="col-6">
            <img [src]="Product?.pictureUrl" alt="{{Product?.name}}">
        </div>
        <div class="col-6">
            <h3>{{Product?.name}}</h3>
            <p style="font-size: 2em;">{{Product?.price | currency}}</p>
            <div class="d-flex justify-content-start align-items-center">
                <i class="fa fa-minus-circle text-warning mr-2" (click)="decrementQuantity()"
                    style="font-size: 2em;cursor: pointer;"></i>
                <span class="font-weight-bold" style="font-size: 2em;">{{quantity}}</span>
                <i class="fa fa-plus-circle text-warning ml-2" (click)="Increment()"
                    style="font-size: 2em;cursor: pointer;"></i>
                <button class="btn btn-outline-secondary btn-lg ml-4" (click)="AddToBasket(Product)"> Add to
                    cart</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 ml-3">
                <h3>Description</h3>
                <p>{{Product?.description}}</p>
            </div>
        </div>
    </div>
</section>