<div class="container">
    <div *ngIf="(basket$ |async) === null">
        No items to display yet
    </div>
    <div >
        <div class="row">
            <div class="col-lg-12 py-5 mb-1">
                <app-basket-summery
                (decrement)="decermentItemQunatity($event)"
                (increment)="IncermentItemQunatity($event)"
                (remove)="removeItemFromBasekt($event)"
                ></app-basket-summery>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-6">
                <app-order-totals></app-order-totals>
                <a routerLink="/Checkout" class="btn btn-block btn-outline-primary mb-2">
                    Proceed to checkout
                </a>
            </div>
        </div>
    </div>
</div>