.cart-no{
    position: absolute;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    background-color: blue;
    top: -12px;
    right: 32px;
}