<div class="d-flex flex-column flex-md-row align-items-center  pb-3 mb-4 border-bottom justify-content-between fixed-top "
    style="background: white;">
    <img src="/assets/images/logo.png" alt="" srcset="" style="max-height: 70px;">
    <nav class="d-flex  text-uppercase align-items-center justify-content-center " style="font-size: larger;">
        <a class="me-3 p-2  text-decoration-none" [routerLink]="['/']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">HOME</a>
        <a class="me-3 p-2  text-decoration-none" routerLink="/Shop" routerLinkActive="active">SHOP</a>
        <a class="me-3 p-2  text-decoration-none">CONTANCT</a>
    </nav>
    <div class="d-flex align-item-center">
        <a class="position-relative" routerLink="/Basket">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div *ngIf="(basket$ |async) as Basket" class="cart-no">{{Basket.items.length}}</div>
        </a>
        <button type="button" class="btn btn-outline-secondary mr-2">Login</button>
        <button type="button" class="btn btn-outline-secondary mr-2">Sign-up</button>
    </div>
</div>